<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="Browser" value="Chrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ChromeDriverPath" value="D:\waterbabies-test\WaterBabies-Tests\packages\Selenium.WebDriver.ChromeDriver.74.0.3729.6\driver\win32" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseUrl" value="https://dev-rebuild.waterbabies.co.uk/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BaseUrlIRE" value="https://dev-rebuild.waterbabies.ie/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
     </appSettings>
</configuration>